<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>
    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
	<title>Dashboard</title>
</head>
<body>
	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->
	<!-- Page content -->
	<div class="page-content">
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">
			
			<!-- Vertical form modal -->
			<div id="modal_form_vertical" class="modal fade" tabindex="-1">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<h5 class="modal-title">Other Info Question</h5>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>

						
					</div>
				</div>
			</div>
		    <!-- /Vertical form modal -->

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">
							
							
							
							<!-- Dashboard content -->
							<div class="row mt-3">
								<div class="col-xl-12">
									
									
									<div class="card">
										
										<div class="card-header header-elements-inline">
											<h5 class="card-title">Other Info Questions</h5>											
										</div>
										
										<div class="card-body">
											<form id="employeeForm" method="post" th:action="@{/addOtherInfoQuestion}" th:object="${otherInfoQuestion}" style="overflow: auto; height: 800px;">
												<input type="hidden" th:field="*{id}" name="id" id="id">
												<input type="hidden" th:field="*{employee.id}" name="employeeId" id="employeeId">
												<input type="hidden" th:field="*{employee.empHashCode}" name="empHashCode" id="empHashCode">
												<input type="hidden" th:field="*{showMode}" name="showMode" id="showMode" value="">
												<div class="modal-body">
													
													<div class="form-group">
					
														<div class="row mt-3">
					                                        <p>1.) Are you related by consanguinity or affinity to the appointing or recommending authority, or to the chief of bureau of office or to the person who has immediate supervision over you in the Office, Bureau or Department where you will be appointed</p>
															<div class="col-sm-6">
																<label for="questionOneThird">a. within the third degree?</label>
																					
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionOneThird" id="questionOneThirdYes" th:field="*{questionOneThird}" th:checked="${otherInfoQuestion.questionOneThird == 'Option 1'}" value="YES" onchange="disabledDetails('questionOneThird')"/>&nbsp;YES
																</p>
																
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionOneThird" id="questionOneThirdNo" th:field="*{questionOneThird}" th:checked="${otherInfoQuestion.questionOneThird == 'Option 1'}" value="NO"  onclick="disableDetails('questionOneThird')">&nbsp;NO
																</p>
																
					                                            <div class="col-sm-12">
					                                                <label for="questionOneThirdInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionOneThird')}" th:errors="*{questionOneThird}"></span>
					                                                <input type="text" th:field="*{questionOneThird}" name="questionOneThirdInput" id="questionOneThirdInput" class="form-control" disabled>
					                                            </div>
															</div>
															<div class="col-sm-6 ">
																<label for="questionOneFourth">b. within the fourth degree?</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionOneFourth')}" th:errors="*{questionOneFourth}"></span>
																
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionOneFourth" value="" id="questionOneFourthYes" onclick="disabledDetails('questionOneFourth')">&nbsp;YES
																</p>
					                                            <p class=" d-flex align-items-center">
																	<input type="radio" name="questionOneFourth" id="questionOneFourthNo" th:field="*{questionOneFourth}" value="NO" onclick="disableDetails('questionOneFourth')">&nbsp;NO
																</p>
					                                            <div class="col-sm-12">
					                                                <label for="questionOneThird">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionOneFourth')}" th:errors="*{questionOneFourth}"></span>
					                                                <input type="text" name="questionOneThirdInput" id="questionOneFourthInput" th:field="*{questionOneFourth}" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
					
														<div class="row mt-3">
					                                        <p>2.) </p>
															<div class="col-sm-4">
																<label for="questionTwoA">a. Have you ever been found guilty of any administrative offense?</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoA')}" th:errors="*{questionTwoA}"></span>
					
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionTwoA" id="questionTwoAYes" value="" onchange="disabledDetails('questionTwoA')"/>&nbsp;YES
																</p>
																
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionTwoA" id="questionTwoANo" th:field="*{questionTwoA}" value="NO" onclick="disableDetails('questionTwoA')">&nbsp;NO
																</p>
																
					                                            <div class="col-sm-12">
					                                                <label for="questionTwoAInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoA')}" th:errors="*{questionTwoA}"></span>
					                                                <input type="text" th:field="*{questionTwoA}" name="questionTwoAInput" id="questionTwoAInput" class="form-control" disabled>
					                                            </div>
															</div>
					
															<div class="col-sm-4">
																<label for="questionTwoB">b. Have you ever been criminally charged before any court?</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoB')}" th:errors="*{questionTwoB}"></span>
					
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionTwoB" id="questionTwoBYes" value="" onchange="disabledDetails('questionTwoB')"/>&nbsp;YES
																</p>
																
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionTwoB" id="questionTwoBNo" th:field="*{questionTwoB}" value="NO" onclick="disableDetails('questionTwoB')">&nbsp;NO
																</p>
																
					                                            <div class="col-sm-12">
					                                                <label for="questionTwoBInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoB')}" th:errors="*{questionTwoB}"></span>
					                                                <input type="text" th:field="*{questionTwoB}" name="questionTwoBInput" id="questionTwoBInput" class="form-control" disabled>
					                                            </div>
															</div>
					
														</div>
					
														<div class=" row my-3 d-none date-details">
															<div class="col-sm-4 ">
																	<label for="questionTwoBMonth">Month</label>
																	<span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoBMonth')}" th:errors="*{questionTwoBMonth}"></span>
																	<select class="form-control" th:field="*{questionTwoBMonth}">
																		<option value=null disabled></option>
																		<option value="JAN">JAN</option>
																		<option value="FEB">FEB</option>
																		<option value="MAR">MAR</option>
																		<option value="APR">APR</option>
																		<option value="MAY">MAY</option>
																		<option value="JUN">JUN</option>
																		<option value="JUL">JUL</option>
																		<option value="AUG">AUG</option>
																		<option value="SEPT">SEPT</option>
																		<option value="OCT">OCT</option>
																		<option value="NOV">NOV</option>
																		<option value="DEC">DEC</option>
																	</select>
															</div>
															<div class="col-sm-4 ">
																<label for="questionTwoBDay">Day</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoBDay')}" th:errors="*{questionTwoBDay}"></span>
																<input type="number" name="questionTwoBDay" id="questionTwoBDay" class="form-control">
															</div>
															<div class="col-sm-4 ">
																<label for="questionTwoBYear">Year</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoBYear')}" th:errors="*{questionTwoBYear}"></span>
																<input type="text" name="questionTwoBYear" id="questionTwoBYear" class="form-control">
															</div>
															<div class="col-sm-12 ">
																<label for="questionTwoBStatusCase">Status Case</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionTwoBStatusCase')}" th:errors="*{questionTwoBStatusCase}"></span>
																<input type="text" name="questionTwoBStatusCase" id="questionTwoBStatusCase" class="form-control">
															</div>
														</div>
														
														<div class="row mt-3">
					                                        <p>3.) Have you ever been convicted of any crime or violation of any law, decree, ordinance or regulation by any court or tribunal?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionThree')}" th:errors="*{questionThree}"></span>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionThree" id="questionThreeYes" value="" onchange="disabledDetails('questionThree')"/>&nbsp;YES
																</p>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionThree" id="questionThreeNo" th:field="*{questionThree}" value="NO" onclick="disableDetails('questionThree')">&nbsp;NO
																</p>
					                                            <div class="col-sm-12">
					                                                <label for="questionThreeInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionThree')}" th:errors="*{questionThree}"></span>
					                                                <input type="text" th:field="*{questionThree}" name="questionThreeInput" id="questionThreeInput" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
					
														<div class="row mt-3">
					                                        <p>4.) Have you ever been seperated from the service in any of the following modes: resignation, retirement, dropped from the rolls, dismissal, termination, end of term,finished contract or phased out (abolition) in the public or private sector?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionFour')}" th:errors="*{questionFour}"></span>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionFour" id="questionFourYes" value="" onchange="disabledDetails('questionFour')"/>&nbsp;YES
																</p>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionFour" id="questionFourNo" th:field="*{questionFour}" value="NO" onclick="disableDetails('questionFour')">&nbsp;NO
																</p>
					                                            <div class="col-sm-12">
					                                                <label for="questionFourInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionFour')}" th:errors="*{questionFour}"></span>
					                                                <input type="text" name="questionFourInput" th:field="*{questionFour}" id="questionFourInput" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
					
														<div class="row mt-3">
					                                        <p>5.) Have you ever been a candidate in national or local election held within the last year (except Barangay Election)?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionFive')}" th:errors="*{questionFive}"></span>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionFive" id="questionFiveYes" value="" onchange="disabledDetails('questionFive')"/>&nbsp;YES
																</p>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionFive" id="questionFiveNo" th:field="*{questionFive}" value="NO" onclick="disableDetails('questionFive')">&nbsp;NO
																</p>
					                                            <div class="col-sm-12">
					                                                <label for="questionFiveInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionFive')}" th:errors="*{questionFive}"></span>
					                                                <input type="text" th:field="*{questionFive}" name="questionFiveInput" id="questionFiveInput" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
					
														<div class="row mt-3">
					                                        <p>6.) Have you resigned from the government service during the three (3) month period before the last election to promote/actively campaign for a national or local candidate?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionSix')}" th:errors="*{questionSix}"></span>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionSix"id="questionSixYes" value="" onchange="disabledDetails('questionSix')"/>&nbsp;YES
																</p>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionSix" id="questionSixNo" th:field="*{questionSix}" value="NO" onclick="disableDetails('questionSix')">&nbsp;NO
																</p>
					                                            <div class="col-sm-12">
					                                                <label for="questionSixInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionSix')}" th:errors="*{questionSix}"></span>
					                                                <input type="text" th:field="*{questionSix}" name="questionSixInput" id="questionSixInput" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
					
														<div class="row mt-3">
					                                        <p>7.) Have you acquired the status of immigrant or permanent resident of another country?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionSevenA')}" th:errors="*{questionSevenA}"></span>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionSevenA" id="questionSevenAYes" value="" onchange="disabledDetails('questionSevenA')"/>&nbsp;YES
																</p>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionSevenA" id="questionSevenANo" th:field="*{questionSevenA}" value="NO" onclick="disableDetails('questionSevenA')">&nbsp;NO
																</p>
					                                            <div class="col-sm-12">
					                                                <label for="questionSevenAInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionSevenA')}" th:errors="*{questionSevenA}"></span>
					                                                <input type="text" th:field="*{questionSevenA}" name="questionSevenAInput" id="questionSevenAInput" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
														
														<div class="row mt-3">
					                                        <p>8.) Are you a person with disability?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionEight')}" th:errors="*{questionEight}"></span>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionEight" id="questionEightYes" value="" onchange="disabledDetails('questionEight')"/>&nbsp;YES
																</p>
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionEight" id="questionEightNo" th:field="*{questionEight}" value="NO" onclick="disableDetails('questionEight')">&nbsp;NO
																</p>
															</div>
														</div>
														<div class="row my-3 d-none disability-details">
															<div class="col-sm-6">
																<label for="questionEightType">If YES, please specify Type</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionEightType')}" th:errors="*{questionEightType}"></span>
																<input type="text" name="questionEightType" placeholder="N/A" id="questionEightType" class="form-control">
															</div>
															<div class="col-sm-6">
																<label for="questionEightId">If YES, please specify ID No</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionEightId')}" th:errors="*{questionEightId}"></span>
																<input type="text" name="questionEightId" placeholder="N/A" id="questionEightId" class="form-control">
															</div>
															<div class="col-sm-6">
																<label for="questionEightValidityDate">Validity Date</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionEightValidityDate')}" th:errors="*{questionEightValidityDate}"></span>
																<input type="date" name="questionEightValidityDate" placeholder="N/A" id="questionEightValidityDate" class="form-control">
															</div>
															<div class="col-sm-6">
																<label for="questionEightAttachment">Person With Disability Attachment</label>
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionEightAttachment')}" th:errors="*{questionEightAttachment}"></span>
																<input type="file" name="questionEightAttachment" placeholder="N/A" id="questionEightAttachment" class="form-control">
															</div>
														</div>
														
														<div class="row mt-3">
					                                        <p>9.) Are you a solo parent?</p>
															<div class="col-sm-12">
																<span class="validationError text-danger" th:if="${#fields.hasErrors('questionNine')}" th:errors="*{questionNine}"></span>
					
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionNine" id="questionNineYes" value="" onchange="disabledDetails('questionNine')"/>&nbsp;YES
																</p>
																
																<p class=" d-flex align-items-center">
																	<input type="radio" name="questionNine" id="questionNineNo" th:field="*{questionNine}" value="NO" onclick="disableDetails('questionNine')">&nbsp;NO
																</p>
																
					                                            <div class="col-sm-12">
					                                                <label for="questionNineInput">If YES, give details:</label>
					                                                <span class="validationError text-danger" th:if="${#fields.hasErrors('questionNine')}" th:errors="*{questionNine}"></span>
					                                                <input type="text" th:field="*{questionNine}" name="questionNineInput" id="questionNineInput" class="form-control" disabled>
					                                            </div>
															</div>
														</div>
					
													</div>
												</div>
					
												<div class="modal-footer">
													<button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
													<button type="submit" class="btn bg-primary">Save Info</button>
												</div>
											</form>
										</div>
										
												
										
									</div>
									<!-- end card -->
									
									
											
								</div>
							</div>
							<!-- /dashboard content -->
							
														
					    </div>			    
					</div>
					<!-- /left content -->


					<!-- Right component Profile Pic -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-100 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Main sidebar -->
						<div th:replace="fragments/common::right-profile-content"></div>
						<!-- /Main sidebar -->
		
					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
		</div>
		<!-- /main content -->
	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">		
	
	    $(document).ready(function() {
			
			$("#eligibility").change(function() {
		        var selectedValue = $(this).val();
		        
		        if(selectedValue === 'OTHERS'){				
					$("#otherEligibility").prop("readOnly", false);
					$("#otherEligibility").addClass("required-field-hrisp");
					$("#otherEligibility").focus();
				} else {					
					$("#otherEligibility").prop("readOnly", true);
					$("#otherEligibility").removeClass("required-field-hrisp");
				}
				
		    });
	    	
	    	$('#consultation-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				
			});
	    		    				
			let showMode = /*[[${employee.showMode == null ? '' : employee.showMode} ]]*/'';
			
			if(showMode === 'PROFILE'){
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#myAccountNav").addClass("nav-item-expanded nav-item-open");
				$("#myPersonalInfoNav").addClass("active");
								
				$("#showMode").val("PROFILE");
			} else {
				$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
				$("#employeeManagementNav").addClass("nav-item-expanded nav-item-open");
				$("#employeeListNav").addClass("active");
				
				$("#showMode").val("HRADMIN");
			}

	    	let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';

	    	if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'EDIT-SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}

	    });

		$(document).on("click", ".showDetails", function() {

				var id = $(this).attr('data-row-id');
	            var questionOneThird = $(this).attr('data-row-questionOneThird');
				var questionOneFourth = $(this).attr('data-row-questionOneFourth');
				var questionTwoA = $(this).attr('data-row-questionTwoA');
				var questionTwoB = $(this).attr('data-row-questionTwoB');
				var questionTwoBMonth = $(this).attr('data-row-questionTwoBMonth');
				var questionTwoBDay = $(this).attr('data-row-questionTwoBDay');
				var questionTwoBYear = $(this).attr('data-row-questionTwoBYear');
				var questionTwoBStatusCase = $(this).attr('data-row-questionTwoBStatusCase');
				var questionThree = $(this).attr('data-row-questionThree');
				var questionFour = $(this).attr('data-row-questionFour');
				var questionFive = $(this).attr('data-row-questionFive');
				var questionSix = $(this).attr('data-row-questionSix');
				var questionSevenA = $(this).attr('data-row-questionSevenA');
				var questionEightType = $(this).attr('data-row-questionEightType');
				var questionEightId = $(this).attr('data-row-questionEightId');
				var questionEightValidityDate = $(this).attr('data-row-questionEightValidityDate');
				var questionEightAttachment = $(this).attr('data-row-questionEightAttachment');
				var questionEight = $(this).attr('data-row-questionEight');
				var questionNine = $(this).attr('data-row-questionNine');
				console.log("seven "+questionSevenA);
	                    
	            $("#modal_form_vertical").find("#id").val(id);
				
				// START QUESTION THIRD DEGREE
				if(questionOneThird==="NO"){
					$("#modal_form_vertical").find("#questionOneThirdNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionOneThirdYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionOneThirdInput").val(questionOneThird).prop("disabled",false);
				}
				// END QUESTION THIRD DEGREE

				// START QUESTION FOUR DEGREE
				if(questionOneFourth==="NO"){
					$("#modal_form_vertical").find("#questionOneFourthNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionOneFourthYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionOneFourthInput").val(questionOneFourth).prop("disabled",false);
				}
				// END QUESTION FOUR DEGREE

				// START QUESTION TWO A 
				if(questionTwoA==="NO"){
					$("#modal_form_vertical").find("#questionTwoANo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionTwoAYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionTwoAInput").val(questionTwoA).prop("disabled",false);
				}
				// END QUESTION TWO A

				// START QUESTION TWO B
				if(questionTwoB==="NO"){
					$("#modal_form_vertical").find("#questionTwoBNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionTwoBYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionTwoBInput").val(questionTwoB).prop("disabled",false);
					$("#modal_form_vertical").find(`.date-details`).removeClass("d-none");
					$("#modal_form_vertical").find("#questionTwoBMonth").val(questionTwoBMonth);
					$("#modal_form_vertical").find("#questionTwoBDay").val(questionTwoBDay);
					$("#modal_form_vertical").find("#questionTwoBYear").val(questionTwoBYear);
					$("#modal_form_vertical").find("#questionTwoBStatusCase").val(questionTwoBStatusCase);
				}
				// END QUESTION TWO B

				// START QUESTION THREE 
				if(questionThree==="NO"){
					$("#modal_form_vertical").find("#questionThreeNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionThreeYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionThreeInput").val(questionThree).prop("disabled",false);
				}
				// END QUESTION THREE
				
				// START QUESTION FOUR 
				if(questionFour==="NO"){
					$("#modal_form_vertical").find("#questionFourNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionFourYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionFourInput").val(questionFour).prop("disabled",false);
				}
				// END QUESTION FOUR
				
				// START QUESTION FIVE 
				if(questionFive==="NO"){
					$("#modal_form_vertical").find("#questionFiveNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionFiveYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionFiveInput").val(questionFive).prop("disabled",false);
				}
				// END QUESTION FIVE

				// START QUESTION SIX 
				if(questionSix==="NO"){
					$("#modal_form_vertical").find("#questionSixNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionSixYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionSixInput").val(questionSix).prop("disabled",false);
				}
				// END QUESTION SIX

				// START QUESTION SEVEN A 
				if(questionSevenA==="NO"){
					$("#modal_form_vertical").find("#questionSevenANo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionSevenAYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionSevenAInput").val(questionSevenA).prop("disabled",false);
				}
				// END QUESTION SEVEN A
				
				// START QUESTION EIGHT
				if(questionEight==="NO"){
					$("#modal_form_vertical").find("#questionEightNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionEightYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionEightInput").val(questionEight).prop("disabled",false);
					$("#modal_form_vertical").find(`.disability-details`).removeClass("d-none");
					$("#modal_form_vertical").find("#questionEightType").val(questionEightType);
					$("#modal_form_vertical").find("#questionEightId").val(questionEightId);
					$("#modal_form_vertical").find("#questionEightValidityDate").val(questionEightValidityDate);
					// $("#modal_form_vertical").find("#questionEightAttachment").val(questionEightAttachment);
				}
				// END QUESTION EIGHT

				// START QUESTION SIX 
				if(questionNine === "NO"){
					$("#modal_form_vertical").find("#questionNineNo").attr("checked", true);
				}else{
					$("#modal_form_vertical").find("#questionNineYes").attr("checked", true);
					$("#modal_form_vertical").find("#questionNineInput").val(questionNine).prop("disabled",false);
				}
				// END QUESTION SIX

		});

		$('#employeeForm').submit(function(event) {
		        var emptyFields = [];
		        $('.required-field-hrisp').each(function() {
		            if ($(this).val().trim() === '') {
		                emptyFields.push($(this));
		            }
		        });
		
		        if (emptyFields.length > 0) {
		            event.preventDefault();		            
		            swal({
						title: "Error!",
						text: "Mandatory fields marked in RED are mandatory.",
						icon: "error",
						buttons: false,
			            timer: 2000,
					});
		            emptyFields[0].focus();
		        }
		});

        const disabledDetails = (id) =>{
			// $("#modal_form_vertical").find(`#${id}`).val("");
            $("#modal_form_vertical").find(`#${id}Input`).val("").prop("disabled",false);
			if(id === "questionTwoB"){
				$("#modal_form_vertical").find(`.date-details`).removeClass("d-none")
			}else if(id === "questionEight"){
				$("#modal_form_vertical").find(`.disability-details`).removeClass("d-none")
			}
        }

        const disableDetails = (id) =>{
            $("#modal_form_vertical").find(`#${id}Input`).val("").prop("disabled",true)
			if(id === "questionTwoB"){
				$("#modal_form_vertical .date-details #questionTwoBMonth").val(null);
				$("#modal_form_vertical .date-details #questionTwoBDay").val("");
				$("#modal_form_vertical .date-details #questionTwoBYear").val("");
				$("#modal_form_vertical .date-details #questionTwoBStatusCase").val("");
				$("#modal_form_vertical").find(`.date-details`).addClass("d-none")
			}
			if (id === "questionEight") {
				$("#modal_form_vertical .disability-details #questionEightType").val("");
				$("#modal_form_vertical .disability-details #questionEightId").val("");
				$("#modal_form_vertical .disability-details #questionEightValidityDate").val("");
				$("#modal_form_vertical .disability-details #questionEightAttachment").val("");
				$("#modal_form_vertical .disability-details").addClass("d-none");
			}

			// if(id === "questionEight"){
				
			// 	$("#modal_form_vertical .disability-details #questionEightType").val("");
			// 	$("#modal_form_vertical .disability-details #questionEightId").val("");
			// 	$("#modal_form_vertical .disability-details #questionEightValidityDate").val("");
			// 	$("#modal_form_vertical .disability-details #questionEightAttachment").val("");
			// 	// $("#modal_form_vertical .disability-details").addClass("d-none");
			// }
        }
	</script>

</body>
</html>
