<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Common Part of HTML</title>
</head>
<body>

<th:block th:fragment="header-meta">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</th:block>

<th:block th:fragment="header-import-css">
    <!-- Global stylesheets -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900}" rel="stylesheet" type="text/css">
    <link th:href="@{/global_assets/css/icons/icomoon/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/global_assets/css/icons/fontawesome/styles.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/bootstrap_limitless.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/layout.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/colors.min.css}" rel="stylesheet" type="text/css">
    <link data-require="sweet-alert@*" data-semver="0.4.2" rel="stylesheet" th:href="@{/global_assets/css/sweetalert/sweetalert.min.css}" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.0.9/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <!-- /global stylesheets -->
    
    <!-- for hiding input type file -->
    <style>
		.tblphHeader {
			background-color: #CACCCE; 
			border: 1px solid black;
		}
		
		.button-container {
            position: fixed;
            bottom: 55px;
            right: 40px;
            display: flex;
            gap: 10px;
            z-index: 9999; /* Make sure the buttons are on top */
        }

        .floating-button {
            
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

        .floating-button:hover {
            background-color: #0056b3;
        }
		
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .whiteText {
			color: #fff !important;
		}
		.navbar-collapse {
			margin-left: -3rem !important;
		}
    </style>
</th:block>

<th:block th:fragment="header-import-js">
	<!-- Sweet Alert files -->	
  	<script th:src="@{/global_assets/js/sweetalert/sweetalert.min.js}"></script>

    <!-- Core JS files -->
    <script th:src="@{/global_assets/js/main/jquery.min.js}"></script>
    <script th:src="@{/global_assets/js/main/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files 1-->
    <script th:src="@{/global_assets/js/plugins/visualization/d3/d3.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/visualization/d3/d3_tooltip.js}"></script>
    <script th:src="@{/global_assets/js/plugins/forms/styling/switchery.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/ui/moment/moment.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/pickers/daterangepicker.js}"></script>	
    <script th:src="@{/global_assets/js/demo_pages/dashboard.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/streamgraph.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/sparklines.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/lines.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/areas.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/donuts.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/bars.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/progress.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/heatmaps.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/pies.js}"></script>
    <script th:src="@{/global_assets/js/demo_charts/pages/dashboard/light/bullets.js}"></script>
    <!-- /theme JS files 1-->

    <!-- Theme JS files 2-->
    <script th:src="@{/global_assets/js/plugins/tables/datatables/datatables.min.js}"></script>
    <script th:src="@{/global_assets/js/plugins/forms/selects/select2.min.js}"></script>
    
    <!-- Upload JS Files -->
    <script th:src="@{/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js}"></script>
	<script th:src="@{/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js}"></script>
	<script th:src="@{/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js}"></script>	
	<script th:src="@{/global_assets/js/demo_pages/uploader_bootstrap.js}"></script>

    <script th:src="@{/assets/js/app.js}"></script>
    
    <script th:src="@{/global_assets/js/demo_pages/datatables_advanced.js}"></script>
    <!-- /theme JS files 2-->
    
    <script th:src="@{/js/philippines.js}"></script>
    
    
    
</th:block>



<th:block th:fragment="main-navbar">
	
	<!-- Main navbar -->
	<div class="navbar navbar-expand-md navbar-light">

		<!-- Header with logos -->
		<div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
			
			<div class="navbar-brand navbar-brand-md">
				<a th:href="@{/dashboard}" class="d-inline-block">
					&nbsp;
				</a>
			</div>
			
			<div class="navbar-brand navbar-brand-xs">
				<a href="index.html" class="d-inline-block">
					<img th:src="@{/global_assets/images/logo_icon_light.png}" alt="">
				</a>
			</div>
		</div>
		<!-- /header with logos -->
	

		<!-- Mobile controls -->
		<div class="d-flex flex-1 d-md-none">
			<div class="navbar-brand mr-auto">
				<a href="index.html" class="d-inline-block">
					<img th:src="@{/global_assets/images/logo_dark.png}" alt="">
				</a>
			</div>	

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>

			<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
				<i class="icon-paragraph-justify3"></i>
			</button>
		</div>
		<!-- /mobile controls -->


		<!-- Navbar content -->
		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
						<i class="icon-paragraph-justify3"></i>
					</a>
				</li>				
			</ul>

			
			<span class="ml-md-3 mr-md-auto">&nbsp;</span>			 
			
		</div>
		<!-- /navbar content -->
		
	</div>
	<!-- /main navbar -->
					

</th:block>


<th:block th:fragment="footer">
	<div class="navbar navbar-expand-lg navbar-light">
		<div class="text-center d-lg-none w-100">
			<button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
			<i class="icon-unfold mr-2"></i>
				Footer
			</button>
		</div>

		<div class="navbar-collapse collapse" id="navbar-footer">
			<span class="navbar-text" style="margin-left: 30px;">
				&copy; 2024 <a href="#">Human Resource Information System</a> by <a href="http://cdsi.ph" target="_blank">Complete Digital Solutions Inc.</a>
			</span>

			<ul class="navbar-nav ml-lg-auto">
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-lifebuoy mr-2"></i> Support</a></li>
				<li class="nav-item"><a href="#" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
			</ul>
		</div>
	</div>
</th:block>

<th:block th:fragment="main-sidebarnav">
	
	<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md" style="height: 100%vh;">

			<!-- Sidebar mobile toggler -->
			<div class="sidebar-mobile-toggler text-center">
				<a href="#" class="sidebar-mobile-main-toggle">
					<i class="icon-arrow-left8"></i>
				</a>
				Navigation
				<a href="#" class="sidebar-mobile-expand">
					<i class="icon-screen-full"></i>
					<i class="icon-screen-normal"></i>
				</a>
			</div>
			<!-- /sidebar mobile toggler -->


			<!-- Sidebar content -->
			<div class="sidebar-content">
				
				<!-- User menu -->
				<div class="sidebar-user">
					<div class="card-body">
						<div class="media">
							<div class="mr-3">
								<a><img th:src="|@{*{#authentication.principal.profilePhoto == null ? '/images/avatar.png' : #authentication.principal.profilePhoto}}|" width="38" height="38" class="rounded-circle" alt=""></a>
							</div>

							<div class="media-body">
								<div class="media-title font-weight-semibold" sec:authentication="principal.fullName">Lucas Peralta</div>
								<!--
								<div class="font-size-xs opacity-50" sec:authentication="principal.specialization">
									
								</div>
								-->
							</div>
						</div>
					</div>
				</div>
				<!-- /user menu -->

				
				<!-- Main navigation -->
				<div class="card card-sidebar-mobile">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<!-- Main -->						
						<li class="nav-item">							
							<a th:href="@{/dashboard}" class="nav-link" id="emrDashboardNav">
								<i class="icon-home4"></i>
								<span>
									Dashboard									
								</span>
							</a>
						</li>
						
						<li class="nav-item nav-item-submenu" id="myAccountNav">
							<a href="#" class="nav-link"><i class="icon-vcard"></i> <span>My Account</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="System Settings">
								<li class="nav-item"><a th:href="@{/degree-levels}" class="nav-link" id="myPersonalInfoNav"><i class="icon-user-tie"></i> Personal Data Sheet</a></li>
								<li class="nav-item"><a th:href="@{/academic-honors}" class="nav-link" id="myClearanceNav"><i class="icon-paste2"></i> Clearance</a></li>								
								<li class="nav-item"><a th:href="@{/degree-courses}" class="nav-link" id="myServiceRecordNav"><i class="icon-cabinet"></i> Service Record</a></li>						
                                                        														
							</ul>
						</li>
						
						<li class="nav-item nav-item-submenu" id="employeeManagementNav">
							<a href="#" class="nav-link"><i class="icon-vcard"></i> <span>Employee Management</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="System Settings">
								<li class="nav-item"><a th:href="@{/employee-list}" class="nav-link" id="employeeListNav"><i class="icon-user-tie"></i> Employee List</a></li>
								<li class="nav-item"><a th:href="@{/academic-honors}" class="nav-link" id="clearanceListNav"><i class="icon-paste2"></i> Clearance List</a></li>
								<li class="nav-item nav-item-submenu">
									<a href="#" class="nav-link"><i class="icon-vcard"></i> Reports</a>
									<ul class="nav nav-group-sub">
										<li class="nav-item">
											<a th:href="@{/degree-levels}" class="nav-link"><i class="icon-magazine"></i>Personal Data Sheet</a>
										</li>
										<li class="nav-item">
											<a th:href="@{/degree-levels}" class="nav-link"><i class="icon-magazine"></i>Employee List Report</a>
										</li>
										<li class="nav-item">
											<a th:href="@{/degree-levels}" class="nav-link"><i class="icon-magazine"></i>Clearance List Report</a>
										</li>
									</ul>
								</li>                                                   														
							</ul>
						</li>
						
						<li class="nav-item nav-item-submenu" id="systemSettingsNav">
							<a href="#" class="nav-link"><i class="icon-gear"></i> <span>System Settings</span></a>
							<ul class="nav nav-group-sub" data-submenu-title="System Settings">
								<li class="nav-item"><a th:href="@{/academic-honors}" class="nav-link" id="academicHonorsNav"><i class="icon-graduation2"></i> Academic Honors</a></li>
								<li class="nav-item"><a th:href="@{/degree-levels}" class="nav-link" id="degreeLevelNav"><i class="icon-graduation2"></i> Degree Levels</a></li>
								<li class="nav-item"><a th:href="@{/degree-courses}" class="nav-link" id="degreeCoursesNav"><i class="icon-graduation2"></i> Degree Courses</a></li>
								<li class="nav-item"><a th:href="@{/division-list}" class="nav-link" id="divisionNav"><i class="icon-wall"></i> Divisions</a></li>
								<li class="nav-item"><a th:href="@{/document-type}" class="nav-link" id="documentTypeNav"><i class="icon-images2"></i> Document Type</a></li>
								<li class="nav-item"><a th:href="@{/profession}" class="nav-link" id="professionNav"><i class="icon-brain"></i>Profession</a></li>
								<li class="nav-item"><a th:href="@{/school}" class="nav-link" id="schoolNav"><i class="icon-city"></i>School</a></li>
								<li class="nav-item"><a th:href="@{/employee-status}" class="nav-link" id="schoolNav"><i class="icon-city"></i>Employee Status</a></li>
								<li class="nav-item"><a th:href="@{/level}" class="nav-link" id="levelNav"><i class="icon-city"></i>Level</a></li>
								<li class="nav-item"><a th:href="@{/salary-grade}" class="nav-link" id="salaryGradeNav"><i class="icon-city"></i>Salary Grade</a></li>
                                                  														
							</ul>
						</li>							
						
						<li class="nav-item">
							<a th:href="@{emrChangePassword}" class="nav-link" id="emrChangePasswordNav">
								<i class="icon-user-lock"></i>
								<span>
									Change Password									
								</span>
							</a>
						</li>
						
						<li class="nav-item">
							<a href="javascript:logoutForm.submit();" class="nav-link">
								<i class="icon-exit"></i>
								<span>
									Logout									
								</span>
							</a>
							<form name="logoutForm" th:hidden="true" method="post"
                                th:action="@{/logout}">
                                <input type="submit" value="Logout" />
                            </form>
						</li>			
						<!-- /layout -->
							
					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->
			
		</div>
		<!-- /main sidebar -->
	

</th:block>







</body>
</html>