<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Dashboard</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">
	
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			  

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">							
							<th:block th:if="${session.actorObj == null ? false : session.actorObj.userType == 'ROLE_ADMIN'}">
							<div class="row">			
								<div class="col-lg-12 offset-lg-0">
									
									<div class="card">
										<div class="card-header header-elements-inline">
											<h5 class="card-title">Number of Actual Employees</h5>
											<div class="header-elements">
												<div class="list-icons">
							                		<a class="list-icons-item" data-action="collapse"></a>
							                		<a class="list-icons-item" data-action="reload"></a>
							                		<a class="list-icons-item" data-action="remove"></a>
							                	</div>
						                	</div>
										</div>
					
										<div class="card-body">
											<p class="mb-3">List of all employee type and their total count.</p>
					
											<div class="card card-table table-responsive shadow-0 mb-0">
												<table class="table" id="statusTable">
													<thead>
														<tr>
															<th>EMPLOYMENT STATUS</th>
															<th>Total Employee's</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
										</div>
									</div>		
									<!-- card -->								
			
								</div>		
							</div>
							</th:block>
							<!-- /row -->
							<div class="row">			
								<div class="col-lg-12 offset-lg-0">
			
										<div class="card">
											<div class="card-header header-elements-inline">
												<h5 class="card-title">New Clearance Application List</h5>
												<div class="header-elements">
													<div class="list-icons">
								                		<a class="list-icons-item" data-action="collapse"></a>
								                		<a class="list-icons-item" data-action="reload"></a>
								                		<a class="list-icons-item" data-action="remove"></a>
								                	</div>
							                	</div>
											</div>

											<div class="card-body">
												List of all new clearance applications.
											</div>

					<div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
						
						
											
									<div class="datatable-scroll">
										
										<table class="table table-bordered table-hover datatable-highlight dataTable no-footer" id="clearancesTable" role="grid" aria-describedby="DataTables_Table_2_info">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First Name: activate to sort column descending">Employee Name</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">Submission Date</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">Effectivity Data</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Job Title: activate to sort column ascending">Purpose</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
													
													<th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">Actions</th>
													
												</tr>
											</thead>
											<tbody>							
												<tr role="row" class="odd">
														<td class="sorting_1">Ian Alfred Orozco</td>
														<td class="">Accounting</td>
														<td class="">Business Services Sales Representative</td>
														<td class="">19 Apr 2023</td>
														<td class=""><span class="badge badge-primary">New</span></td>
														<td class="text-center">
															<div class="list-icons">
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
																		<i class="icon-menu9"></i>
																	</a>
						
																	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
																		<a href="#" class="dropdown-item"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-close2"></i> DisApprove Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-search4"></i> View Application</a>
																	</div>
																</div>
															</div>
														</td>
												</tr>
												<tr role="row" class="even">
														<td class="sorting_1">Ethan Espina</td>
														<td class="">Engineering</td>
														<td class="">Civil Engineer</td>
														<td class="">19 March 2023</td>
														<td class=""><span class="badge badge-primary">New</span></td>
														<td class="text-center">
															<div class="list-icons">
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
																		<i class="icon-menu9"></i>
																	</a>
						
																	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
																		<a href="#" class="dropdown-item"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-close2"></i> DisApprove Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-search4"></i> View Application</a>
																	</div>
																</div>
															</div>
														</td>
												</tr>
												<tr role="row" class="odd">
														<td class="sorting_1">Nicole Ayala</td>
														<td class="">Legal</td>
														<td class="">Legal Officer IV</td>
														<td class="">19 Jan 2023</td>
														<td class=""><span class="badge badge-primary">New</span></td>
														<td class="text-center">
															<div class="list-icons">
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
																		<i class="icon-menu9"></i>
																	</a>
						
																	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
																		<a href="#" class="dropdown-item"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-close2"></i> DisApprove Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-search4"></i> View Application</a>
																	</div>
																</div>
															</div>
														</td>
												</tr>
											</tbody>
										</table>
										
									</div>
									</div>
				</div>
			
								</div>		
							</div>
							
					    </div>			    
					</div>
					<!-- /left content -->


					<!-- Right component Profile Pic -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-100 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">
							<input type="file" name="profilePhoto" id="profilePhoto" accept="image/*" class="inputfile" />
							<!-- User card -->
							<div class="card">
								<div class="card-body text-center">
									<div class="card-img-actions d-inline-block mb-3 ">
										
										<img th:src="|@{*{#authentication.principal.profilePhoto == null ? '/images/avatar.png' : #authentication.principal.profilePhoto}}|" width="170" height="170" class="rounded-circle" alt="">
										
										
										<div class="card-img-actions-overlay card-img rounded-circle">
											<button id="fileSelect" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
												<i class="icon-camera"></i>
											</button>											
										</div>
										
									</div>
									<h6 class="font-weight-semibold mt-0 mb-0 text-uppercase" sec:authentication="principal.fullName">Hanna Dorman</h6>
										<div class="text-left mt-1">
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">POSITION: </span>HR ADMIN</span>
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">DIVISION: </span>PERSONNEL</span>
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">ASSUMPTION DATE: </span>OCT 16, 2005</span>
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">BIRTHDAY: </span>JAN 27, 1982 <span class="text-muted text-uppercase ml-1"><span class="font-weight-semibold">AGE: </span>42</span></span>
											
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">MOBILE: </span>09062794574</span>
											
										</div>
									
										    		
						    	</div>
					    	</div>
					    	<!-- /user card -->
					    	
					    	<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Navigation</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body p-0" style="">
									<ul class="nav nav-sidebar my-2">
										<li class="nav-item">
											<a th:href="@{'/profile/' + ${session.actorObj.id} + '/' + ${session.actorObj.getEmpHashCode()}}" class="nav-link">
												<i class="icon-user"></i>
												 My Personal Information
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-pencil7"></i>
												Clearance Application
												<span class="badge bg-blue badge-pill ml-auto">New <span id="clearanceCount">0</span></span>
											</a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
						<!-- /sidebar content -->
					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
						
			

		</div>
		<!-- /main content -->
		
		

	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">		
		
		let contextRoot = /*[[${#httpServletRequest.getContextPath()}]]*/ '';
	
	    $(document).ready(function() {			
			
			getEmployeeStatusCount();
			getNewClerances();
			
			
			
			function getEmployeeStatusCount(){
				let url = contextRoot + '/employee-status/count';
				
				$.ajax({
	                url: url,
	                type: 'GET',
	                dataType: 'json',
	                success: function(response) {
	                    // Render statusCounts into table
	                    renderTable(response);
	                },
	                error: function(xhr, status, error) {
	                    console.error('Error fetching statusCounts:', error);
	                }
	            });
            
				
			}
			
			function getNewClerances(){
				
				let clearanceUrl = contextRoot + '/clearance-list/SUBMITTED';
				
				$.ajax({
					type: "GET",
					url: clearanceUrl,
					dataType: "json",
					success: function(clearances) {
						//console.log("Clearances by status:", clearances);
						var count = clearances.length;
	                	//console.log("Number of clearances: " + count);
	                	$("#clearanceCount").html(count)
						renderClearanceTable(clearances);
					},
					error: function(xhr, status, error) {
						console.error("Error fetching clearances:", error);
					}
				});
			}
			
			function renderClearanceTable(clearances) {
                var tableBody = $("#clearancesTable tbody");
                tableBody.empty(); // Clear existing table rows

                $.each(clearances, function(index, clearance) {
                    var row = "<tr>" +
                        "<td>" + clearance.employee.fullName + "</td>" +
                        "<td>" + clearance.transDate + "</td>" +
                        "<td>" + clearance.effectiveDate + "</td>" +
                        "<td>" + clearance.purpose + "</td>" +
                        "<td>" + clearance.status + "</td>" +
                        `       						   
						<td class="text-center">
							<div class="list-icons">
								<div class="dropdown">
									<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
										<i class="icon-menu9"></i>
									</a>
						
									<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
										<a href="#" class="dropdown-item" onclick="approvedClearance(${clearance.id})"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
										<a href="#" class="dropdown-item" onclick="disApprovedClearance()"><i class="icon-close2"></i> DisApprove Clearance</a>										
									</div>
								</div>
							</div>
						</td>	        						
	        		
	        			` +
                        "</tr>";
                    tableBody.append(row);
                });
            }
			
			

            // Function to render statusCounts into table
            function renderTable(statusCounts) {
                var tbodyContent = '';
                var total = 0;
                // Iterate over statusCounts and construct tbody content
                $.each(statusCounts, function(status, count) {
                    tbodyContent += '<tr><td>' + status + '</td><td>' + count + '</td></tr>';
                    total += count;
                });
                // Append tbody content to table
                $('#statusTable tbody').append(tbodyContent);
                // Add total row at the end
                $('#statusTable tbody').append('<tr style="background-color: aliceblue;"><td>TOTAL</td><td>' + total + '</td></tr>');
            }
	    	
	    	
	    		    				
			$(".nav-link").removeClass("active");	    	  	
			$("#emrDashboardNav").addClass("active");

	    	
	    	

	    });
	    
	    

		function approvedClearance(id) {
			swal({
			  title: "Confirmation?",
			  text: "Are you sure you want to approve this clearance application?",
			  icon: "info",
			  buttons: ["Yes", "No"],
			  dangerMode: false,
			})
			.then((selectNo) => {
			  if (selectNo) {
				  //No Response
				  console.log("selected no");

			  } else {
			  	 console.log("selected yes");
			  	 let url = contextRoot + '/process-clearance/' + id + '/APPROVED';
			
				$.ajax({
		            type: "POST",
		            url: url,
		            //dataType: "json",
		            success: function(response) {
						console.log(response);
						
		                swal({
							title: "Success!",
							text: "Clearance successfully approved.",
							icon: "success",
							buttons: false,
				            timer: 2000,
						})
						.then((value) => {										
							window.location.href = contextRoot + '/dashboard';
						});
						
						
		            },
		            error: function(xhr, status, error) {
		                // Handle error response
		                console.error("Error approving clearance:", error);
		            }
		        });
			  }
			  
			});
			
			
		}
			
		function disApprovedClearance(id) {
			swal({
			  title: "Confirmation?",
			  text: "Are you sure you want to disapprove this clearance application?",
			  icon: "info",
			  buttons: ["Yes", "No"],
			  dangerMode: false,
			})
			.then((selectNo) => {
			  if (selectNo) {
				  //No Response
				  console.log("selected no");

			  } else {
			  	 console.log("selected yes");
			  	 let url = contextRoot + '/process-clearance/' + id + '/DISAPPROVED';
			
				$.ajax({
		            type: "POST",
		            url: url,
		            //dataType: "json",
		            success: function(response) {
						console.log(response);
						
		                swal({
							title: "Success!",
							text: "Clearance successfully disapproved.",
							icon: "success",
							buttons: false,
				            timer: 2000,
						})
						.then((value) => {										
							window.location.href = contextRoot + '/dashboard';
						});
						
						
		            },
		            error: function(xhr, status, error) {
		                // Handle error response
		                console.error("Error approving clearance:", error);
		            }
		        });
			  }
			  
			});
		}
			
		function viewRecord() {
				alert(3);
		}

	</script>

</body>
</html>
