<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Dashboard</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">
	
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->

		<!-- Main content -->
		<div class="content-wrapper">

			  

			<div class="content">

				<!-- Inner container -->
				<div class="d-flex align-items-start flex-column flex-md-row">

					<!-- Left content -->
					<div class="tab-content w-100 order-2 order-md-1">
						<div class="tab-pane fade active show" id="activity">							
							<th:block th:if="${session.actorObj == null ? false : session.actorObj.userType == 'ROLE_ADMIN'}">
							<div class="row">			
								<div class="col-lg-12 offset-lg-0">
									
									<div class="card">
										<div class="card-header header-elements-inline">
											<h5 class="card-title">Number of Actual Employees</h5>
											<div class="header-elements">
												<div class="list-icons">
							                		<a class="list-icons-item" data-action="collapse"></a>
							                		<a class="list-icons-item" data-action="reload"></a>
							                		<a class="list-icons-item" data-action="remove"></a>
							                	</div>
						                	</div>
										</div>
					
										<div class="card-body">
											<p class="mb-3">List of all employee type and their total count.</p>
					
											<div class="card card-table table-responsive shadow-0 mb-0">
												<table class="table">
													<thead>
														<tr>
															<th>EMPLOYMENT STATUS</th>
															<th>Total Employee's</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>PERMANENT</td>
															<td>45</td>
														</tr>
														<tr>
															<td>COTERMINOUS</td>
															<td>25</td>
														</tr>
														<tr>
															<td>CASUAL</td>
															<td>35</td>
														</tr>
														<tr>
															<td>CONTRACT OF SERVICE</td>
															<td>15</td>
														</tr>
														<tr>
															<td>REGULAR CONTRACTUAL</td>
															<td>65</td>
														</tr>
														<tr style="background-color: aliceblue;">
															<td>TOTAL</td>
															<td>185</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>		
									<!-- card -->								
			
								</div>		
							</div>
							</th:block>
							<!-- /row -->
							<div class="row">			
								<div class="col-lg-12 offset-lg-0">
			
										<div class="card">
											<div class="card-header header-elements-inline">
												<h5 class="card-title">New Clearance Application List</h5>
												<div class="header-elements">
													<div class="list-icons">
								                		<a class="list-icons-item" data-action="collapse"></a>
								                		<a class="list-icons-item" data-action="reload"></a>
								                		<a class="list-icons-item" data-action="remove"></a>
								                	</div>
							                	</div>
											</div>

											<div class="card-body">
												List of all new clearance applications.
											</div>

					<div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
						
						
											
									<div class="datatable-scroll">
										
										<table class="table table-bordered table-hover datatable-highlight dataTable no-footer" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
											<thead>
												<tr role="row">
													<th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="First Name: activate to sort column descending">Employee Name</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">Division</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Last Name: activate to sort column ascending">Position</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Job Title: activate to sort column ascending">Submission Date</th>
													<th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending">Status</th>
													<th class="text-center sorting_disabled" rowspan="1" colspan="1" aria-label="Actions" style="width: 100px;">Actions</th>
												</tr>
											</thead>
											<tbody>							
												<tr role="row" class="odd">
														<td class="sorting_1">Ian Alfred Orozco</td>
														<td class="">Accounting</td>
														<td class="">Business Services Sales Representative</td>
														<td class="">19 Apr 2023</td>
														<td class=""><span class="badge badge-primary">New</span></td>
														<td class="text-center">
															<div class="list-icons">
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
																		<i class="icon-menu9"></i>
																	</a>
						
																	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
																		<a href="#" class="dropdown-item"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-close2"></i> DisApprove Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-search4"></i> View Application</a>
																	</div>
																</div>
															</div>
														</td>
												</tr>
												<tr role="row" class="odd">
														<td class="sorting_1">Ethan Espina</td>
														<td class="">Engineering</td>
														<td class="">Civil Engineer</td>
														<td class="">19 March 2023</td>
														<td class=""><span class="badge badge-primary">New</span></td>
														<td class="text-center">
															<div class="list-icons">
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
																		<i class="icon-menu9"></i>
																	</a>
						
																	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
																		<a href="#" class="dropdown-item"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-close2"></i> DisApprove Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-search4"></i> View Application</a>
																	</div>
																</div>
															</div>
														</td>
												</tr>
												<tr role="row" class="odd">
														<td class="sorting_1">Nicole Ayala</td>
														<td class="">Legal</td>
														<td class="">Legal Officer IV</td>
														<td class="">19 Jan 2023</td>
														<td class=""><span class="badge badge-primary">New</span></td>
														<td class="text-center">
															<div class="list-icons">
																<div class="dropdown">
																	<a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false">
																		<i class="icon-menu9"></i>
																	</a>
						
																	<div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(22px, 19px, 0px);">
																		<a href="#" class="dropdown-item"><i class="icon-checkmark-circle2"></i> Approve Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-close2"></i> DisApprove Clearance</a>
																		<a href="#" class="dropdown-item"><i class="icon-search4"></i> View Application</a>
																	</div>
																</div>
															</div>
														</td>
												</tr>
											</tbody>
										</table>
										
									</div>
									</div>
				</div>
			
								</div>		
							</div>
							
					    </div>			    
					</div>
					<!-- /left content -->


					<!-- Right component Profile Pic -->
					<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-right wmin-100 border-0 shadow-0 order-1 order-md-2 sidebar-expand-md">

						<!-- Sidebar content -->
						<div class="sidebar-content">
							<input type="file" name="profilePhoto" id="profilePhoto" accept="image/*" class="inputfile" />
							<!-- User card -->
							<div class="card">
								<div class="card-body text-center">
									<div class="card-img-actions d-inline-block mb-3 ">
										
										<img th:src="|@{*{#authentication.principal.profilePhoto == null ? '/images/avatar.png' : #authentication.principal.profilePhoto}}|" width="170" height="170" class="rounded-circle" alt="">
										
										
										<div class="card-img-actions-overlay card-img rounded-circle">
											<button id="fileSelect" class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
												<i class="icon-camera"></i>
											</button>											
										</div>
										
									</div>
									<h6 class="font-weight-semibold mt-0 mb-0 text-uppercase" sec:authentication="principal.fullName">Hanna Dorman</h6>
										<div class="text-left mt-1">
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">POSITION: </span>HR ADMIN</span>
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">DIVISION: </span>PERSONNEL</span>
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">ASSUMPTION DATE: </span>OCT 16, 2005</span>
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">BIRTHDAY: </span>JAN 27, 1982 <span class="text-muted text-uppercase ml-1"><span class="font-weight-semibold">AGE: </span>42</span></span>
											
											<span class="d-block text-muted text-uppercase"><span class="font-weight-semibold">MOBILE: </span>09062794574</span>
											
										</div>
									
										    		
						    	</div>
					    	</div>
					    	<!-- /user card -->
					    	
					    	<div class="card">
								<div class="card-header bg-transparent header-elements-inline">
									<span class="card-title font-weight-semibold">Navigation</span>
									<div class="header-elements">
										<div class="list-icons">
					                		<a class="list-icons-item" data-action="collapse"></a>
				                		</div>
			                		</div>
								</div>

								<div class="card-body p-0" style="">
									<ul class="nav nav-sidebar my-2">
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-user"></i>
												 My Personal Information
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-tree7"></i>
												Clearance Application
												<span class="badge bg-blue badge-pill ml-auto">New 29</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-tree7"></i>
												Leave Application
												<span class="badge bg-violet badge-pill ml-auto">New 33</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-tree7"></i>
												Memos
												<span class="badge bg-orange badge-pill ml-auto">New 29</span>
											</a>
										</li>
										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-tree7"></i>
												Notifications
												<span class="badge bg-success badge-pill ml-auto">New 29</span>
											</a>
										</li>

										<li class="nav-item-divider"></li>

										<li class="nav-item">
											<a href="#" class="nav-link">
												<i class="icon-calendar3"></i>
												Events
												<span class="badge bg-teal-400 badge-pill ml-auto">New 48</span>
											</a>
										</li>
										
									</ul>
								</div>
							</div>
						</div>
						<!-- /sidebar content -->
					</div>
					<!-- /right sidebar component -->

				</div>
				<!-- /inner container -->

			</div>
			<!-- /content area -->
						
			

		</div>
		<!-- /main content -->
		
		

	</div>
	<!-- /page content -->
	
	<!-- Main sidebar -->
	<div th:replace="fragments/common::footer"></div>
	<!-- /Main sidebar -->
	
	<script th:inline="javascript">		
	
	    $(document).ready(function() {
	    	
	    	$('#consultation-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false, 
				
			});
	    		    				
			$(".nav-link").removeClass("active");	    	  	
			$("#emrDashboardNav").addClass("active");

	    	let msgCode = /*[[${uxmessage == null ? '' : uxmessage.code} ]]*/'';
			let msgDesc = /*[[${uxmessage == null ? '' : uxmessage.message}]]*/'';

	    	if(msgCode === 'ERROR'){
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}

	    });

		$(document).on("click", ".cancelConsultation", function(){

			swal({
			  title: "Confirmation?",
			  text: "Are you sure you want to cancel the appointment?",
			  icon: "info",
			  buttons: ["Yes", "No"],
			  dangerMode: false,
			})
			.then((willDelete) => {
			  if (willDelete) {
				  //No Response
				  console.log("will delete no");

			  } else {
			  	 console.log("will delete yes");
				 var id = $(this).attr('data-row-id');
				 $("#cancelConsultationForm").find("#consultationId").val(id);
				 $("#cancelConsultationForm").submit();
			  }
			});

		});

	</script>

</body>
</html>
