<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="fragments/common::header-meta"></th:block>

    <!-- common import of css & js goes here -->
    <th:block th:replace="fragments/common::header-import-css"></th:block>
    <th:block th:replace="fragments/common::header-import-js"></th:block>
    
	<title>Human Resource Information System</title>


</head>

<body>

	<!-- Main Navbar -->
	<div th:replace="fragments/common::main-navbar"></div>
	<!-- /Main Navbar -->

					
	<!-- Page content -->
	<div class="page-content">	
		
		<!-- Main sidebar -->
		<div th:replace="fragments/common::main-sidebarnav"></div>
		<!-- /Main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Page header -->
			<div class="page-header">
				<div class="page-header-content header-elements-md-inline">
					<div class="page-title d-flex">
						<h4><span class="font-weight-semibold">Clearance Approvers</span></h4>
						<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
					</div>					
				</div>
			</div>
			<!-- /page header -->
			
			
			

			<!-- Content area -->
			<div class="content pt-0">

				<!-- Dashboard content -->
				<div class="row">
					<div class="col-xl-12">
						<!-- Basic datatable -->
						<div class="card p-3">
							<div class="card-header header-elements-inline bg-primary">
								<h6 class="card-title">Approvers List</h6>
							</div>
							<div class="card-body">
											<form id="employeeForm" th:action="@{/saveClearanceApprovers}" method="post" th:object="${clearanceApprovers}">
												<input type="hidden" th:field="*{id}" name="id" id="id">
												<div class="modal-body">
													
													<div class="form-group">
														<div class="row">
															<div class="col-sm-4">
																<label for="empId1">Immediate Supervisor</label>
																<input id="empId1" name="empId1" th:field="*{empId1}" type="text" class="form-control required-field-hrisp" >
															</div>   
															<div class="col-sm-4">
																<label for="empId2">Immediate Supervisor</label>
																<input id="empId2" name="empId2" th:field="*{empId2}" type="text" class="form-control required-field-hrisp" >
															</div>
															<div class="col-sm-4">
																<label for="empId3">Immediate Supervisor</label>
																<input id="empId3" name="empId3" th:field="*{empId3}" type="text" class="form-control required-field-hrisp" >
															</div>               
											            </div>
											            <div class="row">
															<div class="col-sm-4">
																<label for="empId4">Immediate Supervisor</label>
																<input id="empId4" name="empId4" th:field="*{empId4}" type="text" class="form-control required-field-hrisp" >
															</div>   
															<div class="col-sm-4">
																<label for="empId5">Immediate Supervisor</label>
																<input id="empId5" name="empId5" th:field="*{empId5}" type="text" class="form-control required-field-hrisp" >
															</div>
															<div class="col-sm-4">
																<label for="empId6">Immediate Supervisor</label>
																<input id="empId6" name="empId6" th:field="*{empId6}" type="text" class="form-control required-field-hrisp" >
															</div>               
											            </div>
											            <div class="row">
															<div class="col-sm-4">
																<label for="empId7">Immediate Supervisor</label>
																<input id="empId7" name="empId7" th:field="*{empId7}" type="text" class="form-control required-field-hrisp" >
															</div>   
															<div class="col-sm-4">
																<label for="empId8">Immediate Supervisor</label>
																<input id="empId8" name="empId8" th:field="*{empId8}" type="text" class="form-control required-field-hrisp" >
															</div>
															<div class="col-sm-4">
																<label for="empId9">Immediate Supervisor</label>
																<input id="empId9" name="empId9" th:field="*{empId9}" type="text" class="form-control required-field-hrisp" >
															</div>               
											            </div>
											            <div class="row">
															<div class="col-sm-4">
																<label for="empId10">Immediate Supervisor</label>
																<input id="empId10" name="empId10" th:field="*{empId10}" type="text" class="form-control required-field-hrisp" >
															</div>   
															<div class="col-sm-4">
																<label for="empId11">Immediate Supervisor</label>
																<input id="empId11" name="empId11" th:field="*{empId11}" type="text" class="form-control required-field-hrisp" >
															</div>
															<div class="col-sm-4">
																<label for="empId12">Immediate Supervisor</label>
																<input id="empId12" name="empId12" th:field="*{empId12}" type="text" class="form-control required-field-hrisp" >
															</div>               
											            </div>
											            <div class="row">
															<div class="col-sm-4">
																<label for="empId13">Immediate Supervisor</label>
																<input id="empId13" name="empId1" th:field="*{empId13}" type="text" class="form-control required-field-hrisp" >
															</div>   
															<div class="col-sm-4">
																<label for="empId14">Immediate Supervisor</label>
																<input id="empId14" name="empId14" th:field="*{empId14}" type="text" class="form-control required-field-hrisp" >
															</div>           
											            </div>
													</div>
													
													<div class="modal-footer">
														<button type="submit" class="btn bg-primary">Save Approvers</button>
													</div>
												</div>
											</form>
										</div>
		
							
						</div>
						<!-- /basic datatable -->					
					</div>
				</div>
				<!-- /dashboard content -->

			</div>
			<!-- /content area -->

			<!-- Footer -->
			<div th:replace="fragments/common::footer"></div>
			<!-- /Footer -->    

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

	<script th:inline="javascript">

			
		$(document).ready(function() {
			
			$(".nav-item-submenu").removeClass("nav-item-expanded nav-item-open");
			$("#systemSettingsNav").addClass("nav-item-expanded nav-item-open");
			$("#clearanceApproversNav").addClass("active");			
			
			let msgCode = /*[[${msg == null ? '' : msg.code} ]]*/'';
			let msgDesc = /*[[${msg == null ? '' : msg.message}]]*/'';
			
			if(msgCode === 'ERROR'){
				$('#modal_form_vertical').modal('show');
				swal({
					title: "Error!",
					text: msgDesc,
					icon: "error",
					buttons: false,
		            timer: 2000,
				});
			} else if(msgCode === 'SUCCESS'){
				swal({
					title: "Success!",
					text: msgDesc,
					icon: "success",
					buttons: false,
		            timer: 2000,
				});
			}
			
			
		});
		
		$('#table-list').DataTable({
				"lengthMenu": [10, 25, 50],
				"ordering": false,                
		});
		
		
        
	</script>
</body>
</html>
